Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @danieljurek, @karolz-ms, @jongio

add validation for project
  cli/azd/internal/repository/app_init.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

fix missing return
  cli/azd/pkg/project/dotnet_importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

centralize package version
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/AspireAzdTests.AppHost.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.Web/AspireAzdTests.Web.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/Directory.Build.props
  cli/azd/test/functional/testdata/samples/aspire-full/azure.yaml
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

clean paths, add more logging
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

skip sign validation
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Skip unnecessary packaging for containerized dotnet apps
  cli/azd/pkg/project/framework_service_dotnet.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add myself
  .vscode/cspell-github-user-aliases.txt
Owners: @ellismg, @wbreza

remove multiple restores
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

update snaps
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.Web/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

fix comment
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Refactors usage of source image with containerapp
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_models_test.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/tools/docker/container_image.go
  cli/azd/pkg/tools/docker/container_image_test.go
  schemas/alpha/azure.yaml.json
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @karolz-ms

Fixes failing unit tests
  cli/azd/pkg/project/service_models_test.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

handle sql dbs with dev service in container
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Skip unnecessary packaging for containerized dotnet apps (#3301)
  .vscode/cspell-github-user-aliases.txt
  cli/azd/pkg/project/framework_service_dotnet.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

update implementation with simpler steps
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Some progress
  cli/azd/cmd/container.go
  cli/azd/pkg/azapi/deployments.go
  cli/azd/pkg/azapi/deployments_operations.go
  cli/azd/pkg/azsdk/client_options_builder.go
  cli/azd/pkg/azsdk/correlation_policy.go
  cli/azd/pkg/azsdk/correlation_policy_test.go
  cli/azd/pkg/azsdk/storage/storage_blob_client.go
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/devcenter/platform.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/environment/manager_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/user_profile.go
  cli/azd/test/functional/remote_state_test.go
  cli/azd/test/mocks/mockazsdk/container_apps.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Adds addidtional unit tests for image name/tag generation
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Addresses PR feedback
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/service_manager.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

AKS Service Target: Adds support for Azure RBAC when local user accounts are disabled (#3211)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/container.go
  cli/azd/pkg/kubelogin/cli.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/tools/azcli/managed_clusters.go
  cli/azd/pkg/tools/kubectl/kube_config.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Adds support to reference external or prebuilt image references (#3269)
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_models_test.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/tools/docker/container_image.go
  cli/azd/pkg/tools/docker/container_image_test.go
  cli/azd/pkg/tools/docker/docker.go
  schemas/alpha/azure.yaml.json
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @karolz-ms

Adds helm & kustomize support for AKS service target
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/pkg/helm/cli.go
  cli/azd/pkg/helm/cli_test.go
  cli/azd/pkg/helm/config.go
  cli/azd/pkg/kustomize/cli.go
  cli/azd/pkg/kustomize/cli_test.go
  cli/azd/pkg/kustomize/config.go
  cli/azd/pkg/osutil/expandable_string.go
  cli/azd/pkg/osutil/expandable_string_test.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/tools/kubectl/kubectl.go
  cli/azd/resources/alpha_features.yaml
  schemas/alpha/azure.yaml.json
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @karolz-ms

update min bicep version
  cli/azd/pkg/tools/bicep/bicep.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

line endings?
  cli/azd/resources/apphost/templates/azure.yamlt
  cli/azd/resources/apphost/templates/containerApp.tmpl.yamlt
  cli/azd/resources/apphost/templates/main.bicept
  cli/azd/resources/apphost/templates/main.parameters.jsont
  cli/azd/resources/apphost/templates/next-steps.mdt
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Rebased and fixes issues
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_target_aks_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Revert "line endings?"
  cli/azd/resources/apphost/templates/azure.yamlt
  cli/azd/resources/apphost/templates/containerApp.tmpl.yamlt
  cli/azd/resources/apphost/templates/main.bicept
  cli/azd/resources/apphost/templates/main.parameters.jsont
  cli/azd/resources/apphost/templates/next-steps.mdt
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

ensure delimiter
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

handle sql dbs with dev service in container (#3305)
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

test changes
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

update min bicep version (#3318)
  cli/azd/pkg/tools/bicep/bicep.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

pipeline additional vars secrs (#3155)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/pipeline/pipeline.go
  cli/azd/pkg/pipeline/pipeline_manager.go
  cli/azd/pkg/pipeline/pipeline_manager_test.go
  cli/azd/pkg/pipeline/pipeline_test.go
  cli/azd/pkg/project/project_config.go
  cli/azd/test/functional/initialize_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Apply suggestions from code review
  schemas/v1.0/azure.yaml.json
Owners: @karolz-ms, @ellismg, @wbreza

More progress
  cli/azd/cmd/container.go
  cli/azd/pkg/azapi/deployments.go
  cli/azd/pkg/azapi/deployments_operations.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/devcenter/prompter_test.go
  cli/azd/pkg/devcenter/provision_provider_test.go
  cli/azd/pkg/devcenter/template_source_test.go
  cli/azd/pkg/devcentersdk/developer_client_test.go
  cli/azd/pkg/devcentersdk/permissions_request_builder.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/scope.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/mocks/mock_context.go
  cli/azd/test/mocks/mockazcli/mocks.go
  cli/azd/test/mocks/mockazsdk/container_apps.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update azure_resource_manager.go name to Document Intelligence
  cli/azd/pkg/infra/azure_resource_manager.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add gitattributes to normalize eol
  cli/azd/test/functional/testdata/snaps/.gitattributes
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

fix check
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Add version to vs-server
  cli/azd/cmd/vs_server.go
  cli/azd/pkg/contracts/vs_server.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add playwright install recovery
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

make deploy optional, add readme
  cli/azd/test/functional/aspire_test.go
  cli/azd/test/functional/testdata/samples/aspire-full/README.md
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

More progress
  cli/azd/cmd/container.go
  cli/azd/pkg/account/credentials.go
  cli/azd/pkg/azsdk/storage/storage_blob_client.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/devcentersdk/permissions_request_builder.go
  cli/azd/pkg/environment/manager_test.go
  cli/azd/pkg/pipeline/github_provider_test.go
  cli/azd/pkg/pipeline/pipeline_manager_test.go
  cli/azd/pkg/tools/azcli/ad.go
  cli/azd/pkg/tools/azcli/ad_test.go
  cli/azd/pkg/tools/azcli/apim.go
  cli/azd/pkg/tools/azcli/appconfig.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/cognitive_service.go
  cli/azd/pkg/tools/azcli/container_registry.go
  cli/azd/pkg/tools/azcli/keyvault.go
  cli/azd/pkg/tools/azcli/managed_clusters.go
  cli/azd/pkg/tools/azcli/managed_hsm.go
  cli/azd/pkg/tools/azcli/resources.go
  cli/azd/pkg/tools/azcli/spring_app.go
  cli/azd/pkg/tools/azcli/static_webapp.go
  cli/azd/pkg/tools/azcli/user_profile.go
  cli/azd/pkg/tools/azcli/webapp.go
  cli/azd/test/functional/remote_state_test.go
  cli/azd/test/mocks/mockazsdk/container_apps.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update search-services.bicep with principalId
  templates/common/infra/bicep/core/search/search-services.bicep
Owners: @jongio, @wbreza

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @ellismg @wbreza

/cli/             @ellismg @wbreza @vhvb1989 @hemarina @weikanglim
/cli/installer/   @ellismg @danieljurek

/ext/             @karolz-ms @ellismg

/generators/repo/ @wbreza @ellismg @danieljurek

/.github/         @danieljurek @ellismg

/eng/             @danieljurek @ellismg

/schemas/         @karolz-ms @ellismg @wbreza

/templates/       @jongio @wbreza

# Exclude @jongio from version bump PRs opened by dependabot
/templates/**/package-lock.json     @wbreza
