Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA, @tg-msft, @rajeshkamal5050, @danieljurek, @karolz-ms, @bwateratmsft, @Azure/azure-sdk-eng, @trangevi, @travisw

Address comments
  cli/azd/extensions/microsoft.ai.agents/CHANGELOG.md
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/context.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/context.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/context.go.tmpl
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA, @tg-msft, @rajeshkamal5050, @trangevi, @travisw

Update script and manifest
  cli/azd/extensions/microsoft.ai.agents/build.ps1
  cli/azd/extensions/microsoft.ai.agents/extension.yaml
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA, @tg-msft, @rajeshkamal5050, @trangevi, @travisw

Add dummy `init` and `deploy`
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/deploy.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/init.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/root.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA, @tg-msft, @rajeshkamal5050, @trangevi, @travisw

Adding in some functions I need to create the `copilot` environment in GitHub.
  cli/azd/pkg/tools/github/github.go
  cli/azd/pkg/tools/github/github_test.go
  cli/azd/pkg/tools/github/testdata/getenv.json
  cli/azd/pkg/tools/github/testdata/getenv2.json
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA, @tg-msft, @rajeshkamal5050

Updates to AZD VSCode extension's process execution (of AZD) (#5740)
  eng/pipelines/templates/jobs/vscode-build.yml
  ext/vscode/.eslintrc.json
  ext/vscode/.vscode/cspell-dictionary.txt
  ext/vscode/eslint.config.mjs
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/src/commands/azureWorkspace/wizard/PickResourceStep.ts
  ext/vscode/src/commands/cmdUtil.ts
  ext/vscode/src/commands/deploy.ts
  ext/vscode/src/commands/devCenterMode.ts
  ext/vscode/src/commands/down.ts
  ext/vscode/src/commands/env.ts
  ext/vscode/src/commands/getDotEnvFilePath.ts
  ext/vscode/src/commands/init.ts
  ext/vscode/src/commands/loginCli.ts
  ext/vscode/src/commands/monitor.ts
  ext/vscode/src/commands/packageCli.ts
  ext/vscode/src/commands/pipeline.ts
  ext/vscode/src/commands/provision.ts
  ext/vscode/src/commands/restore.ts
  ext/vscode/src/commands/up.ts
  ext/vscode/src/ext.ts
  ext/vscode/src/extension.ts
  ext/vscode/src/services/AzureDevEnvListProvider.ts
  ext/vscode/src/services/AzureDevShowProvider.ts
  ext/vscode/src/tasks/dotEnvTaskProvider.ts
  ext/vscode/src/test/suite/allTests.ts
  ext/vscode/src/test/suite/unitTests.ts
  ext/vscode/src/utils/VsCodeAuthenticationCredential.ts
  ext/vscode/src/utils/authServer.ts
  ext/vscode/src/utils/azureDevCli.ts
  ext/vscode/src/utils/commandLineBuilder.ts
  ext/vscode/src/utils/execAsync.ts
  ext/vscode/src/utils/executeAsTask.ts
  ext/vscode/src/utils/lazy.ts
  ext/vscode/src/utils/process.ts
  ext/vscode/src/utils/withTimeout.ts
Owners: @danieljurek, @vhvb1989, @tg-msft, @rajeshkamal5050, @bwateratmsft, @karolz-ms

Update version, changelog. notices for 0.10.0
  ext/vscode/CHANGELOG.md
  ext/vscode/package-lock.json
  ext/vscode/package.json
Owners: @bwateratmsft, @vhvb1989, @tg-msft, @rajeshkamal5050, @karolz-ms

Update version, changelog. notices for 0.10.0 (#5749)
  ext/vscode/CHANGELOG.md
  ext/vscode/package-lock.json
  ext/vscode/package.json
Owners: @bwateratmsft, @vhvb1989, @tg-msft, @rajeshkamal5050, @karolz-ms

Tiny update to .vscodeignore in extension
  ext/vscode/.vscodeignore
Owners: @bwateratmsft, @vhvb1989, @tg-msft, @rajeshkamal5050, @karolz-ms

Tiny update to .vscodeignore in extension (#5750)
  ext/vscode/.vscodeignore
Owners: @bwateratmsft, @vhvb1989, @tg-msft, @rajeshkamal5050, @karolz-ms

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**                @wbreza @vhvb1989 @hemarina @weikanglim @JeffreyCA @tg-msft @rajeshkamal5050

/cli/              @wbreza @vhvb1989 @hemarina @weikanglim @JeffreyCA @tg-msft @rajeshkamal5050
/cli/installer/    @danieljurek @vhvb1989 @tg-msft @rajeshkamal5050

/ext/              @karolz-ms @vhvb1989 @tg-msft @rajeshkamal5050

/ext/azuredevops/  @vhvb1989 @hemarina @tg-msft @rajeshkamal5050

/ext/devcontainer/ @vhvb1989 @hemarina @tg-msft @rajeshkamal5050

/ext/vscode/       @bwateratmsft @vhvb1989 @tg-msft @rajeshkamal5050 @karolz-ms

/.github/          @danieljurek @vhvb1989 @tg-msft @rajeshkamal5050

/.config/1espt/    @Azure/azure-sdk-eng

/eng/              @danieljurek @vhvb1989 @tg-msft @rajeshkamal5050

/schemas/          @wbreza @vhvb1989 @tg-msft @rajeshkamal5050

/.github/CODEOWNERS   @rajeshkamal5050 @Azure/azure-sdk-eng

/cli/azd/extensions/microsoft.ai.agents/  @wbreza @vhvb1989 @hemarina @weikanglim @JeffreyCA @tg-msft @rajeshkamal5050 @trangevi @travisw
