Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @danieljurek, @karolz-ms, @jongio

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @ellismg @wbreza

/cli/             @ellismg @wbreza @vhvb1989 @hemarina @weikanglim
/cli/installer/   @ellismg @danieljurek

/ext/             @karolz-ms @ellismg

/generators/repo/ @wbreza @ellismg @danieljurek

/.github/         @danieljurek @ellismg

/eng/             @danieljurek @ellismg

/schemas/         @karolz-ms @ellismg @wbreza

/templates/       @jongio @wbreza

# Exclude @jongio from version bump PRs opened by dependabot
/templates/**/package-lock.json     @wbreza

Update cli/azd/pkg/exec/command_runner_test.go
  cli/azd/pkg/exec/command_runner_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Add RPC Server for VS Aspire Deploy
  cli/azd/.gitignore
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/container.go
  cli/azd/cmd/root.go
  cli/azd/cmd/vs_server.go
  cli/azd/internal/appdetect/appdetect.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/vsrpc/aspire_service.go
  cli/azd/internal/vsrpc/debug_service.go
  cli/azd/internal/vsrpc/doc.go
  cli/azd/internal/vsrpc/environment_service.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_deploy.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/environment_service_refresh.go
  cli/azd/internal/vsrpc/handler.go
  cli/azd/internal/vsrpc/message_writer.go
  cli/azd/internal/vsrpc/models.go
  cli/azd/internal/vsrpc/observer.go
  cli/azd/internal/vsrpc/server.go
  cli/azd/internal/vsrpc/server_service.go
  cli/azd/internal/vsrpc/server_session.go
  cli/azd/internal/vsrpc/stream.go
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/.gitignore
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/.vscode/launch.json
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/.vscode/tasks.json
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/AzdServices.cs
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/Program.cs
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/Settings.Template.cs
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/dotnet-azd-client.csproj
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/dotnet-azd-client.sln
  cli/azd/internal/vsrpc/utils.go
  cli/azd/internal/vsrpc/writer_multiplexer.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/ioc/container.go
  cli/azd/test/functional/initialize_test.go
  go.mod
  go.sum
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

patch resource with parent as container
  cli/azd/pkg/apphost/generate.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

minReplicas
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

snap
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Add RPC Server for VS Aspire Deploy (#3190)
  cli/azd/.gitignore
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/container.go
  cli/azd/cmd/root.go
  cli/azd/cmd/vs_server.go
  cli/azd/internal/appdetect/appdetect.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/vsrpc/aspire_service.go
  cli/azd/internal/vsrpc/debug_service.go
  cli/azd/internal/vsrpc/doc.go
  cli/azd/internal/vsrpc/environment_service.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_deploy.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/environment_service_refresh.go
  cli/azd/internal/vsrpc/handler.go
  cli/azd/internal/vsrpc/message_writer.go
  cli/azd/internal/vsrpc/models.go
  cli/azd/internal/vsrpc/observer.go
  cli/azd/internal/vsrpc/server.go
  cli/azd/internal/vsrpc/server_service.go
  cli/azd/internal/vsrpc/server_session.go
  cli/azd/internal/vsrpc/stream.go
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/.gitignore
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/.vscode/launch.json
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/.vscode/tasks.json
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/AzdServices.cs
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/Program.cs
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/Settings.Template.cs
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/dotnet-azd-client.csproj
  cli/azd/internal/vsrpc/testdata/dotnet-azd-client/dotnet-azd-client.sln
  cli/azd/internal/vsrpc/utils.go
  cli/azd/internal/vsrpc/writer_multiplexer.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/ioc/container.go
  cli/azd/test/functional/initialize_test.go
  go.mod
  go.sum
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Improve test coverage in `internal/vsrpc`
  cli/azd/internal/vsrpc/debug_service.go
  cli/azd/internal/vsrpc/handler_test.go
  cli/azd/internal/vsrpc/observer.go
  cli/azd/internal/vsrpc/observer_test.go
  cli/azd/internal/vsrpc/server.go
  cli/azd/internal/vsrpc/server_test.go
  cli/azd/internal/vsrpc/stream.go
  cli/azd/internal/vsrpc/writer_multiplexer_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

WIP: Adds support for referencing existing images
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/service_manager.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Remove unneeded code
  cli/azd/pkg/project/framework_service.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Display N/A when image id is not available
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/tools/docker/container_image.go
  cli/azd/pkg/tools/docker/container_image_test.go
  cli/azd/pkg/tools/docker/docker.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Adds unit tests to support public image references
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/service_manager_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Fixes docker project unit tests
  cli/azd/pkg/project/framework_service_docker_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates azure.yaml schema for updates
  schemas/alpha/azure.yaml.json
Owners: @karolz-ms, @ellismg, @wbreza

add more logging, fix err return
  cli/azd/cmd/infra_synth.go
  cli/azd/pkg/project/dotnet_importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

fix err log
  cli/azd/pkg/project/dotnet_importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

disable tests
  eng/pipelines/release-cli.yml
Owners: @danieljurek, @ellismg

comment out codecover
  eng/pipelines/release-cli.yml
Owners: @danieljurek, @ellismg

Remove quotes to appease ldflags parsing (#3255)
  cli/azd/ci-build.ps1
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

scale to one
  cli/azd/pkg/apphost/generate.go
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

scale to min 1
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

track account IDs instead of calling AssociateAccount
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/oneauth/bridge/bridge.cpp
  cli/azd/pkg/oneauth/bridge/bridge.h
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

--browser flag bypasses OneAuth for interactive auth
  cli/azd/cmd/auth_login.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

WIP: Adding kubelogin for rbac support
  cli/azd/cmd/container.go
  cli/azd/pkg/kubelogin/cli.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/tools/kubectl/kube_config.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Adds updates to use kubelogin when local accounts are disabled
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/tools/azcli/managed_clusters.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates tests to mock out retrieving cluster config
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Fixes after rebase
  cli/azd/pkg/project/service_target_aks.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Allow setting ACR registry name or cluster name in azure.yaml
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/service_target_aks.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use kubelogin when azure rback is enabled or local accounts are disabled
  cli/azd/pkg/project/service_target_aks.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates failing unit tests
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates error messages when retrieving credentials. Removes deprecated code
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/tools/azcli/managed_clusters.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates unit tests
  cli/azd/pkg/project/service_target_aks_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

handle special case for dbs with containerApp as parent resource
  cli/azd/pkg/apphost/eval.go
  cli/azd/pkg/apphost/eval_test.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use min scale for appContainers
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

support dotNotation with dash
  cli/azd/internal/scaffold/funcs.go
  cli/azd/internal/scaffold/funcs_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

one postgress service for many dbs
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

remove typo
  cli/azd/pkg/project/importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Check for infra module before using infra-configuration for a project (#3097)
  cli/azd/internal/repository/initializer.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/project/dotnet_importer.go
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
  cli/azd/pkg/project/project_manager.go
  cli/azd/pkg/project/testdata/aspire-escaping.json
  cli/azd/test/functional/telemetry_test.go
  go.mod
  go.sum
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

For Aspire project using many dbs with a container.v0 as parent, create just one ContainerApp for all dbs (#3296)
  cli/azd/internal/scaffold/funcs.go
  cli/azd/internal/scaffold/funcs_test.go
  cli/azd/pkg/apphost/eval.go
  cli/azd/pkg/apphost/eval_test.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Improve test coverage in `internal/vsrpc` (#3294)
  cli/azd/internal/vsrpc/debug_service.go
  cli/azd/internal/vsrpc/handler_test.go
  cli/azd/internal/vsrpc/observer.go
  cli/azd/internal/vsrpc/observer_test.go
  cli/azd/internal/vsrpc/server.go
  cli/azd/internal/vsrpc/server_test.go
  cli/azd/internal/vsrpc/stream.go
  cli/azd/internal/vsrpc/writer_multiplexer_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim
