Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @danieljurek, @karolz-ms, @jongio

skip test on wind for runList
  cli/azd/pkg/exec/util_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

no windows now
  cli/azd/pkg/exec/util_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

lint
  cli/azd/pkg/exec/util_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update search-services.bicep with principalId (#3325)
  templates/common/infra/bicep/core/search/search-services.bicep
Owners: @jongio, @wbreza

Update azure_resource_manager.go name to Document Intelligence (#3323)
  cli/azd/pkg/infra/azure_resource_manager.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Add version to vs-server (#3322)
  cli/azd/cmd/vs_server.go
  cli/azd/pkg/contracts/vs_server.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Adds support for Helm and Kustomize for AKS service target (#3196)
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/pkg/helm/cli.go
  cli/azd/pkg/helm/cli_test.go
  cli/azd/pkg/helm/config.go
  cli/azd/pkg/kustomize/cli.go
  cli/azd/pkg/kustomize/cli_test.go
  cli/azd/pkg/kustomize/config.go
  cli/azd/pkg/osutil/expandable_string.go
  cli/azd/pkg/osutil/expandable_string_test.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/tools/kubectl/kubectl.go
  cli/azd/resources/alpha_features.yaml
  schemas/alpha/azure.yaml.json
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @karolz-ms

handle symlinked paths
  cli/azd/internal/repository/app_init.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/project/dotnet_importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Compare environment definition param against id instead of name
  cli/azd/pkg/devcenter/template_source.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Prevent `azure.yaml` being placed under project directories (#3299)
  cli/azd/internal/repository/app_init.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/project/dotnet_importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Conditional around search identity
  templates/common/infra/bicep/core/search/search-services.bicep
Owners: @jongio, @wbreza

Update lifetimes for devcenter config & azd context
  cli/azd/cmd/container.go
  cli/azd/pkg/devcenter/platform.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Conditional around search identity (#3328)
  templates/common/infra/bicep/core/search/search-services.bicep
Owners: @jongio, @wbreza

Adds yaml schema updates for new features
  schemas/v1.0/azure.yaml.json
Owners: @karolz-ms, @ellismg, @wbreza

Updates changlogs for new features
  cli/azd/CHANGELOG.md
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

vs-server tests
  cli/azd/test/functional/testdata/vs-server/tests/AcceptanceTests.cs
  cli/azd/test/functional/testdata/vs-server/tests/AzdServices.cs
  cli/azd/test/functional/testdata/vs-server/tests/AzdVsServerTests.csproj
  cli/azd/test/functional/testdata/vs-server/tests/GlobalUsings.cs
  cli/azd/test/functional/testdata/vs-server/tests/TestBase.cs
  cli/azd/test/functional/testdata/vs-server/tests/WriterObserver.cs
  cli/azd/test/functional/vs_server_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

prevent hang when SignInInteractively fails before drawing UI
  cli/azd/pkg/oneauth/bridge/bridge.cpp
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add mysql bicep to core templates
  templates/common/infra/bicep/core/database/mysql/flexibleserver.bicep
Owners: @jongio, @wbreza

Improve test coverage in `internal/vsrpc`
  cli/azd/internal/vsrpc/aspire_service.go
  cli/azd/internal/vsrpc/aspire_service_test.go
  cli/azd/internal/vsrpc/observer_test.go
  cli/azd/internal/vsrpc/server_session_test.go
  cli/azd/internal/vsrpc/testdata/manifests/aspire-starter.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.ApiService/Program.cs
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.ApiService/Properties/launchSettings.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.ApiService/appsettings.Development.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.ApiService/appsettings.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.ApiService/aspire-starter.ApiService.csproj
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.AppHost/Program.cs
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.AppHost/Properties/launchSettings.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.AppHost/appsettings.Development.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.AppHost/appsettings.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.AppHost/aspire-starter.AppHost.csproj
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.ServiceDefaults/Extensions.cs
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.ServiceDefaults/aspire-starter.ServiceDefaults.csproj
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/App.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Layout/MainLayout.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Layout/MainLayout.razor.css
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Layout/NavMenu.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Layout/NavMenu.razor.css
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Pages/Counter.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Pages/Error.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Pages/Home.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Pages/Weather.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/Routes.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Components/_Imports.razor
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Program.cs
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/Properties/launchSettings.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/WeatherApiClient.cs
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/appsettings.Development.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/appsettings.json
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/aspire-starter.Web.csproj
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/wwwroot/app.css
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/wwwroot/bootstrap/bootstrap.min.css
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/wwwroot/bootstrap/bootstrap.min.css.map
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.Web/wwwroot/favicon.png
  cli/azd/internal/vsrpc/testdata/samples/aspire-starter/aspire-starter.sln
  cli/azd/internal/vsrpc/util_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use stdin for gh variable and secret values
  cli/azd/pkg/tools/github/github.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

remove index unique attribute
  templates/common/infra/terraform/core/database/cosmos/cosmos.tf
Owners: @jongio, @wbreza

update timeouts
  templates/todo/common/tests/playwright.config.ts
  templates/todo/common/tests/todo.spec.ts
Owners: @jongio, @wbreza

dos
  templates/todo/common/tests/todo.spec.ts
Owners: @jongio, @wbreza

rev
  templates/todo/common/tests/todo.spec.ts
Owners: @jongio, @wbreza

remove index unique attribute to fix cosmos terraform module - fixes terraform template tests (#3338)
  templates/common/infra/terraform/core/database/cosmos/cosmos.tf
  templates/todo/common/tests/playwright.config.ts
  templates/todo/common/tests/todo.spec.ts
Owners: @jongio, @wbreza

timeout
  templates/todo/common/tests/playwright.config.ts
Owners: @jongio, @wbreza

Updates version to 1.6.0
  cli/azd/CHANGELOG.md
  cli/version.txt
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates version to 1.6.0
  cli/azd/CHANGELOG.md
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates version to 1.6.0
  cli/azd/CHANGELOG.md
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use stdin for gh variable and secret values (#3337)
  cli/azd/pkg/tools/github/github.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add benchmarking
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/apphost/manifest_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Reverts ProjectConfig to have a singleton lifetime
  cli/azd/cmd/container.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Adds additional comments around requirement for singleton lifetime
  cli/azd/cmd/container.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Modify to starter
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/Program.cs
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update fpm to use Ubuntu 22.04 and use optional prefix
  cli/installer/fpm/fpm.Dockerfile
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/build-linux-packages.yml
  eng/scripts/Test-LinuxPackages.ps1
Owners: @ellismg, @danieljurek

Use transient lifetime in `vs-server.go`
  cli/azd/cmd/vs_server.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add timing
  cli/azd/internal/vsrpc/server.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Remove all session state
  cli/azd/internal/vsrpc/aspire_service.go
  cli/azd/internal/vsrpc/environment_service.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_deploy.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/environment_service_refresh.go
  cli/azd/internal/vsrpc/server_service.go
  cli/azd/internal/vsrpc/server_session.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update fpm to use Ubuntu 22.04 and use optional prefix (#3346)
  cli/installer/fpm/fpm.Dockerfile
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/build-linux-packages.yml
  eng/scripts/Test-LinuxPackages.ps1
Owners: @ellismg, @danieljurek

Reverts ProjectConfig to have a singleton lifetime (#3345)
  cli/azd/cmd/container.go
  cli/azd/cmd/vs_server.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @ellismg @wbreza

/cli/             @ellismg @wbreza @vhvb1989 @hemarina @weikanglim
/cli/installer/   @ellismg @danieljurek

/ext/             @karolz-ms @ellismg

/generators/repo/ @wbreza @ellismg @danieljurek

/.github/         @danieljurek @ellismg

/eng/             @danieljurek @ellismg

/schemas/         @karolz-ms @ellismg @wbreza

/templates/       @jongio @wbreza

# Exclude @jongio from version bump PRs opened by dependabot
/templates/**/package-lock.json     @wbreza
