Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jongio, @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @danieljurek, @karolz-ms

Fix test assertion
  cli/azd/internal/useragent.go
  cli/azd/internal/useragent_test.go
  cli/azd/pkg/tools/azcli_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @jongio, @weikanglim

updates from PR
  cli/azd/cmd/pipeline.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @jongio, @weikanglim

Add a note to README.md for supported regions
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
Owners: @jongio, @wbreza

Fix lint issues
  cli/azd/internal/useragent.go
  cli/azd/internal/useragent_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @jongio, @weikanglim

Detect `disabled GitHub Actions`. Notify and provide steps to enable then (#17)
  cli/azd/cmd/pipeline.go
  cli/azd/pkg/tools/gh.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @jongio, @weikanglim

Pipeline PR targeting (#20)
  eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml
Owners: @danieljurek, @ellismg

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

* @jongio @ellismg
/cli/ @ellismg @wbreza @vhvb1989 @hemarina @jongio @weikanglim
/cli/installer @ellismg @danieljurek
/ext/ @karolz-ms @ellismg @jongio
/generators/repo/ @wbreza @ellismg @danieljurek
/.github/ @danieljurek @ellismg
/eng/ @danieljurek @ellismg
/schemas/ @jongio @karolz-ms @ellismg
/templates/ @jongio @wbreza
