Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @danieljurek, @karolz-ms, @jongio

update all templates
  templates/common/NOTICE.txt
Owners: @jongio, @wbreza

update c;
  cli/azd/CHANGELOG.md
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

1.6.0 Release - `azd` changlog updates and Azure yaml schema updates (#3330)
  cli/azd/CHANGELOG.md
  cli/version.txt
  schemas/v1.0/azure.yaml.json
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @karolz-ms

- support parameter - support bicep - first version to create main.bicep - auto-detect outputs and list list them
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/resources/apphost/templates/main.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

update all templates (#3348)
  templates/common/NOTICE.txt
Owners: @jongio, @wbreza

Fix Invoke-RepomanGenerate.ps1 arg parsing problems
  eng/scripts/Invoke-RepomanGenerate.ps1
Owners: @danieljurek, @ellismg

Test w/ a trivial change to NOTICE.txt (revert after validation)
  templates/common/NOTICE.txt
Owners: @jongio, @wbreza

Revert "Test w/ a trivial change to NOTICE.txt (revert after validation)"
  templates/common/NOTICE.txt
Owners: @jongio, @wbreza

Fix Invoke-RepomanGenerate.ps1 arg parsing problems (#3351)
  eng/scripts/Invoke-RepomanGenerate.ps1
Owners: @danieljurek, @ellismg

Rework `*project.Config` registration
  cli/azd/cmd/container.go
  cli/azd/cmd/vs_server.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add Shutdown() to unit test
  cli/azd/pkg/oneauth/oneauth_windows_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Add template url and env name arguments to init command
  ext/vscode/src/commands/init.ts
Owners: @karolz-ms, @ellismg

comment on GUI thread requirement
  cli/azd/pkg/oneauth/oneauth_windows.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Allow selecting an existing environment.
  cli/azd/cmd/container.go
  cli/azd/pkg/environment/manager.go
  cli/azd/pkg/environment/manager_test.go
  cli/azd/test/functional/env_test.go
  cli/azd/test/mocks/mockenv/mock_manager.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

handle paths and file structure for modules
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/manifest.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Fix typos
  cli/azd/test/functional/env_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

avoid using stdInForInit when it's not `init` running
  cli/azd/test/functional/env_test.go
  cli/azd/test/functional/package_test.go
  cli/azd/test/functional/restore_test.go
  cli/azd/test/functional/up_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Add template url and env name arguments to init command (#3353)
  ext/vscode/src/commands/init.ts
Owners: @karolz-ms, @ellismg

Revert azcli
  cli/azd/pkg/tools/azcli/ad.go
  cli/azd/pkg/tools/azcli/ad_test.go
  cli/azd/pkg/tools/azcli/apim.go
  cli/azd/pkg/tools/azcli/appconfig.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/cognitive_service.go
  cli/azd/pkg/tools/azcli/container_registry.go
  cli/azd/pkg/tools/azcli/keyvault.go
  cli/azd/pkg/tools/azcli/managed_clusters.go
  cli/azd/pkg/tools/azcli/managed_hsm.go
  cli/azd/pkg/tools/azcli/resources.go
  cli/azd/pkg/tools/azcli/spring_app.go
  cli/azd/pkg/tools/azcli/static_webapp.go
  cli/azd/pkg/tools/azcli/user_profile.go
  cli/azd/pkg/tools/azcli/webapp.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Remove ctx, fix container.go
  cli/azd/cmd/container.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/pipeline/github_provider_test.go
  cli/azd/pkg/pipeline/pipeline_manager_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/user_profile.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

More container.go cleanup
  cli/azd/cmd/container.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Bypass infra generation on devcenter projects
  cli/azd/pkg/project/importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Bypass infra generation on devcenter projects
  cli/azd/pkg/project/importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

mvp
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_test.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/resources/apphost/templates/containerApp.tmpl.yamlt
  cli/azd/resources/apphost/templates/main.bicept
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

update snaps
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-main.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-main.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireStorageGeneration-main.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireStorageGeneration-resources.bicep.snap
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

deploy fine tuning
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/resources/apphost/templates/containerApp.tmpl.yamlt
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use identity correctly
  cli/azd/resources/apphost/templates/containerApp.tmpl.yamlt
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Do not throw error when infra folder/module does not exist
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Fixes issues the template source filtering on name instead of id
  cli/azd/cmd/container.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Compare environment definition param against id instead of name
  cli/azd/pkg/devcenter/template_source.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update lifetimes for devcenter config & azd context
  cli/azd/cmd/container.go
  cli/azd/pkg/devcenter/platform.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

rollback config lifetime for now
  cli/azd/pkg/devcenter/platform.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

snap
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/Directory.Build.props
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/main.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Fixes inconsistencies in image generation
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_target_aks.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

memcpy
  cli/azd/internal/vsrpc/server_service.go
  cli/azd/pkg/ioc/container.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Defense in depth changes for potential $PSNativeCommandArgumentPassing problems
  eng/pipelines/templates/steps/publish-cli-choco.yml
  eng/scripts/Set-GitHubReleaseTag.ps1
  eng/scripts/Update-WinGetManifest.ps1
  eng/scripts/Wait-ChocoPackage.ps1
  eng/scripts/Wait-WinGetPackage.ps1
Owners: @danieljurek, @ellismg

Revert parts of the refactor that aren't needed
  cli/azd/cmd/container.go
  cli/azd/pkg/account/credentials.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Document external authentication prototcol
  cli/azd/docs/external-authentication.md
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

move container logic
  cli/azd/internal/vsrpc/aspire_service.go
  cli/azd/internal/vsrpc/environment_service.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_deploy.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/environment_service_refresh.go
  cli/azd/internal/vsrpc/server.go
  cli/azd/internal/vsrpc/server_service.go
  cli/azd/internal/vsrpc/server_session.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add gitignore
  cli/azd/test/functional/testdata/vs-server/.gitignore
  cli/azd/test/functional/testdata/vs-server/tests/AcceptanceTests.cs
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @ellismg @wbreza

/cli/             @ellismg @wbreza @vhvb1989 @hemarina @weikanglim
/cli/installer/   @ellismg @danieljurek

/ext/             @karolz-ms @ellismg

/generators/repo/ @wbreza @ellismg @danieljurek

/.github/         @danieljurek @ellismg

/eng/             @danieljurek @ellismg

/schemas/         @karolz-ms @ellismg @wbreza

/templates/       @jongio @wbreza

# Exclude @jongio from version bump PRs opened by dependabot
/templates/**/package-lock.json     @wbreza
