Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @danieljurek, @karolz-ms, @jongio

Apply suggestions from code review
  templates/common/.github/workflows/bicep/azure-dev.yml
Owners: @jongio, @wbreza

fix bad test change
  cli/azd/test/functional/env_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Remove defaulting prompt
  cli/azd/pkg/environment/manager.go
  cli/azd/test/functional/env_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Increment CLI version after release (#3386)
  cli/azd/CHANGELOG.md
  cli/version.txt
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

move addBicep to its own method
  cli/azd/pkg/apphost/generate.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

remove extra validation
  cli/azd/pkg/apphost/generate.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

docs
  cli/azd/pkg/apphost/generate.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Allow selecting an existing environment when no default environment is set (#3357)
  cli/azd/cmd/container.go
  cli/azd/pkg/environment/manager.go
  cli/azd/pkg/environment/manager_test.go
  cli/azd/test/functional/env_test.go
  cli/azd/test/functional/package_test.go
  cli/azd/test/functional/restore_test.go
  cli/azd/test/functional/up_test.go
  cli/azd/test/mocks/mockenv/mock_manager.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

avoid hardcoding
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/vs_server_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

move code to function and test
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

remove session.readManifest
  cli/azd/internal/vsrpc/aspire_service.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/server_session.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates condition for short circuit docker build
  cli/azd/pkg/project/framework_service_docker.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use string type instead of any
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

one container per request
  cli/azd/internal/vsrpc/environment_service_deploy.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/environment_service_refresh.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

remove todo
  cli/azd/cmd/vs_server.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Updates unit tests with more test cases
  cli/azd/pkg/project/framework_service_docker_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

revert unwanted
  cli/azd/pkg/input/asker.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update azure-dev.yml (#3282)
  templates/common/.github/workflows/bicep/azure-dev.yml
Owners: @jongio, @wbreza

parallel tests
  cli/azd/test/functional/vs_server_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Remove session caching and state (#3381)
  cli/azd/cmd/vs_server.go
  cli/azd/internal/vsrpc/aspire_service.go
  cli/azd/internal/vsrpc/environment_service.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_deploy.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/environment_service_refresh.go
  cli/azd/internal/vsrpc/server.go
  cli/azd/internal/vsrpc/server_service.go
  cli/azd/internal/vsrpc/server_session.go
  cli/azd/pkg/ioc/container.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/testdata/vs-server/.gitignore
  cli/azd/test/functional/testdata/vs-server/tests/AcceptanceTests.cs
  cli/azd/test/functional/testdata/vs-server/tests/AzdServices.cs
  cli/azd/test/functional/testdata/vs-server/tests/AzdVsServerTests.csproj
  cli/azd/test/functional/testdata/vs-server/tests/GlobalUsings.cs
  cli/azd/test/functional/testdata/vs-server/tests/Observers.cs
  cli/azd/test/functional/testdata/vs-server/tests/TestBase.cs
  cli/azd/test/functional/vs_server_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add mysql bicep to core templates (#3334)
  templates/common/infra/bicep/core/database/mysql/flexibleserver.bicep
Owners: @jongio, @wbreza

support value.v0
  cli/azd/pkg/apphost/generate.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Add Azure App Configuration store support
  cli/azd/resources/scaffold/base/abbreviations.json
  templates/common/infra/bicep/abbreviations.json
  templates/common/infra/bicep/core/config/configstore.bicep
  templates/common/infra/bicep/core/security/configstore-access.bicep
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @jongio

Fixes docker build/package for Aspire projects (#3407)
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

move regex to package
  cli/azd/internal/scaffold/funcs.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/test/functional/cli_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Update cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

remove double printing
  cli/azd/pkg/input/asker.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

remove double printf
  cli/azd/pkg/input/asker.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Fixes issues where deploying help release without built container fails
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Lint fixes
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/service_target_aks_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Lint fixes
  cli/azd/pkg/project/container_helper_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

expose values
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/models.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add test
  cli/azd/test/functional/testdata/vs-server/tests/AcceptanceTests.cs
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

update test
  cli/azd/test/functional/testdata/vs-server/tests/AcceptanceTests.cs
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

let's add the model change
  cli/azd/test/functional/testdata/vs-server/tests/AzdServices.cs
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

make dotnet importer singleton to reuse caching
  cli/azd/cmd/container.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Expose ReadManifest
  cli/azd/pkg/project/dotnet_importer.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use dotnet_importer for caching
  cli/azd/internal/vsrpc/environment_service_load.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Expose .env path
  cli/azd/internal/vsrpc/environment_service.go
  cli/azd/internal/vsrpc/models.go
  cli/azd/pkg/environment/manager.go
  cli/azd/test/functional/testdata/vs-server/tests/AcceptanceTests.cs
  cli/azd/test/functional/testdata/vs-server/tests/AzdServices.cs
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

re-order
  cli/azd/pkg/apphost/generate.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @ellismg @wbreza

/cli/             @ellismg @wbreza @vhvb1989 @hemarina @weikanglim
/cli/installer/   @ellismg @danieljurek

/ext/             @karolz-ms @ellismg

/generators/repo/ @wbreza @ellismg @danieljurek

/.github/         @danieljurek @ellismg

/eng/             @danieljurek @ellismg

/schemas/         @karolz-ms @ellismg @wbreza

/templates/       @jongio @wbreza

# Exclude @jongio from version bump PRs opened by dependabot
/templates/**/package-lock.json     @wbreza
