Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @danieljurek, @karolz-ms, @jongio

Fix duplicated spinner updates in non-tty scenarios
  cli/azd/pkg/input/console.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add tests to verify output
  cli/azd/pkg/input/console_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Make comment more concise
  cli/azd/pkg/input/console.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Centralize terminal detection logic
  cli/azd/cmd/container.go
  cli/azd/pkg/input/asker.go
  cli/azd/pkg/input/console.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Remove quotes to appease ldflags parsing (#3255)
  cli/azd/ci-build.ps1
  cli/azd/pkg/input/console.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Set DOTNET_CLI_WORKLOAD_UPDATE_NOTIFY_DISABLE when running `dotnet`
  cli/azd/pkg/tools/dotnet/dotnet.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Set DOTNET_CLI_WORKLOAD_UPDATE_NOTIFY_DISABLE when running `dotnet` (#3259)
  cli/azd/pkg/tools/dotnet/dotnet.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Allow caller to control root container in `NewRootCmd`
  cli/azd/cmd/root.go
  cli/azd/cmd/usage_test.go
  cli/azd/docs/docgen.go
  cli/azd/main.go
  cli/azd/test/functional/initialize_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Move `envFlag` out of `cmd`
  cli/azd/cmd/build.go
  cli/azd/cmd/container.go
  cli/azd/cmd/deploy.go
  cli/azd/cmd/down.go
  cli/azd/cmd/env.go
  cli/azd/cmd/hooks.go
  cli/azd/cmd/infra_synth.go
  cli/azd/cmd/init.go
  cli/azd/cmd/monitor.go
  cli/azd/cmd/package.go
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/provision.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/show.go
  cli/azd/cmd/up.go
  cli/azd/cmd/util.go
  cli/azd/internal/env_flag.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Move `envFlag` out of `cmd` (#3262)
  cli/azd/cmd/build.go
  cli/azd/cmd/container.go
  cli/azd/cmd/deploy.go
  cli/azd/cmd/down.go
  cli/azd/cmd/env.go
  cli/azd/cmd/hooks.go
  cli/azd/cmd/infra_synth.go
  cli/azd/cmd/init.go
  cli/azd/cmd/monitor.go
  cli/azd/cmd/package.go
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/provision.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/show.go
  cli/azd/cmd/up.go
  cli/azd/cmd/util.go
  cli/azd/internal/env_flag.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

address feedback
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Allow caller to control root container in `NewRootCmd` (#3261)
  cli/azd/cmd/root.go
  cli/azd/cmd/usage_test.go
  cli/azd/docs/docgen.go
  cli/azd/main.go
  cli/azd/test/functional/initialize_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Fix duplicated output for spinner updates in non-tty scenarios (#3257)
  cli/azd/cmd/container.go
  cli/azd/pkg/input/asker.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Move deploy and provision actions to `internal/cmd`
  cli/azd/cmd/container.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/root.go
  cli/azd/cmd/up.go
  cli/azd/internal/cmd/cmd_help.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/cmd/util.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add tests
  cli/azd/test/functional/aspire_test.go
  cli/azd/test/functional/cli_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add env var
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests/AspireAzdTests.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests/TestBase.cs
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

fix queue tests
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests/AzureQueueTests.cs
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

dbg
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

First cut at refactoring DefaultClientOptionsBuilder with terrible naming
  cli/azd/cmd/container.go
  cli/azd/pkg/azsdk/azsdk.go
  cli/azd/pkg/azsdk/client_options_builder.go
  cli/azd/pkg/azsdk/storage/storage_blob_client.go
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/devcenter/environment_store_test.go
  cli/azd/pkg/devcenter/platform.go
  cli/azd/pkg/devcenter/prompter_test.go
  cli/azd/pkg/devcenter/provision_provider_test.go
  cli/azd/pkg/devcenter/template_source_test.go
  cli/azd/pkg/devcentersdk/developer_client_test.go
  cli/azd/pkg/devcentersdk/permissions_request_builder.go
  cli/azd/pkg/environment/manager_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/test/functional/remote_state_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Remove unused type, remove DefaultClientOptionsBuilder func
  cli/azd/pkg/azsdk/azsdk.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Dictionary
  cli/azd/pkg/azsdk/client_options_builder.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Fix and reenable tests
  cli/azd/test/functional/aspire_test.go
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests/AspireAzdTests.csproj
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Move deploy and provision actions to `internal/cmd` (#3268)
  cli/azd/cmd/container.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/root.go
  cli/azd/cmd/up.go
  cli/azd/internal/cmd/cmd_help.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/cmd/util.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

just a stash
  .vscode/launch.json
  cli/azd/.vscode/launch.json
  cli/azd/azd.sln
  cli/azd/cmd/binding.go
  cli/azd/cmd/container.go
  cli/azd/cmd/provision.go
  cli/azd/pkg/binding/binding_config.go
  cli/azd/pkg/binding/binding_manager.go
  cli/azd/pkg/binding/service_linker.go
  cli/azd/pkg/project/project_config.go
  go.mod
  go.sum
  schemas/alpha/azure.yaml.json
  workitems.md
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim, @karolz-ms

Reference cleanup
  cli/azd/cmd/container.go
  cli/azd/pkg/azsdk/storage/storage_blob_client.go
  cli/azd/pkg/devcenter/platform.go
  cli/azd/pkg/environment/manager_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Now with compiling tests...
  cli/azd/test/functional/remote_state_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

allow camel case for container names in app host
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use secrets for containr v0
  cli/azd/internal/scaffold/funcs.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

observe --tenant-id
  cli/azd/cmd/auth_login.go
  cli/azd/pkg/auth/manager.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

support customized cmd recording
  cli/azd/test/recording/recording.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

secrets
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

add snapshots for ease of comparison
  cli/azd/test/functional/aspire_test.go
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.ApiService/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.AppHost/manifest.json
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.Web/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/main.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/main.parameters.json
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

Revert "support customized cmd recording"
  cli/azd/test/recording/recording.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

install workload, enable feature
  cli/azd/test/functional/aspire_test.go
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use internal nuget feed
  eng/pipelines/release-cli.yml
Owners: @danieljurek, @ellismg

Update azure-dev.yml
  templates/common/.github/workflows/bicep/azure-dev.yml
Owners: @jongio, @wbreza

restore
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

test updates
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

use secrets for container v0 (#3276)
  cli/azd/internal/scaffold/funcs.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
  cli/azd/resources/apphost/templates/resources.bicept
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

remove incorrect MSA config
  cli/azd/pkg/oneauth/bridge/bridge.cpp
Owners: @ellismg, @wbreza, @vhvb1989, @hemarina, @weikanglim

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @ellismg @wbreza

/cli/             @ellismg @wbreza @vhvb1989 @hemarina @weikanglim
/cli/installer/   @ellismg @danieljurek

/ext/             @karolz-ms @ellismg

/generators/repo/ @wbreza @ellismg @danieljurek

/.github/         @danieljurek @ellismg

/eng/             @danieljurek @ellismg

/schemas/         @karolz-ms @ellismg @wbreza

/templates/       @jongio @wbreza

# Exclude @jongio from version bump PRs opened by dependabot
/templates/**/package-lock.json     @wbreza
