Repository Azure/azure-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wbreza, @vhvb1989, @weikanglim, @hemarina, @JeffreyCA, @danieljurek, @karolz-ms, @bwateratmsft, @benbp, @weshaggard, @jongio, @rajeshkamal5050, @Azure/azure-sdk-eng

re
  cli/azd/internal/scaffold/spec.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

re
  cli/azd/internal/scaffold/scaffold.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

gen
  cli/azd/pkg/apphost/generate.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

fix merge
  cli/azd/internal/cmd/add/add_select.go
  cli/azd/pkg/project/scaffold_gen.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

progress
  cli/azd/pkg/armmsi/armmsi.go
  cli/azd/pkg/pipeline/pipeline_manager.go
  go.mod
  go.sum
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

lint
  cli/azd/pkg/armmsi/armmsi.go
  cli/azd/pkg/pipeline/pipeline_manager.go
  cli/azd/pkg/pipeline/pipeline_manager_test.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

checkpoint
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/armmsi/armmsi.go
  cli/azd/pkg/pipeline/azdo_provider.go
  cli/azd/pkg/pipeline/github_provider.go
  cli/azd/pkg/pipeline/pipeline.go
  cli/azd/pkg/pipeline/pipeline_manager.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

lint
  cli/azd/pkg/pipeline/pipeline_manager.go
  cli/azd/pkg/pipeline/pipeline_manager_test.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

fetching service Principal from MSI
  cli/azd/cmd/container.go
  cli/azd/pkg/armmsi/armmsi.go
  cli/azd/pkg/entraid/entraid.go
  cli/azd/pkg/graphsdk/service_principal_request_builders.go
  cli/azd/pkg/pipeline/pipeline_manager.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/templates/stages/1es-redirect.yml
Owners: @danieljurek

Remove compose flag and checks in `add`, `show`, and `env set-secret`
  cli/azd/cmd/env.go
  cli/azd/internal/cmd/add/add.go
  cli/azd/internal/cmd/show/show.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Mention 'azd add' driectly in simplified init followup message
  cli/azd/cmd/init.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Block 'azd add' on non-compose projects
  cli/azd/internal/cmd/add/add.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Remove compose flag and checks for simplified init
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/app_init_test.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Handle azd init as minimal project
  cli/azd/cmd/init.go
  cli/azd/internal/repository/initializer.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Clean up
  cli/azd/internal/cmd/add/add.go
  cli/azd/internal/repository/app_init.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

fix bug
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/internal/grpcserver/compose_service.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

gofmt
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

code to create FedCred ready
  cli/azd/pkg/armmsi/armmsi.go
  cli/azd/pkg/entraid/entraid.go
  cli/azd/pkg/graphsdk/msi_fic_request_builders.go
  cli/azd/pkg/graphsdk/service_principal_request_builders.go
  cli/azd/pkg/pipeline/pipeline_manager.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Bring compose resource definitions to v1.0 azure.yaml schema
  schemas/v1.0/azure.yaml.json
Owners: @wbreza

Add missing properties to alpha schema
  schemas/alpha/azure.yaml.json
Owners: @wbreza

Remove flag and checks from importer
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Fix lint warning
  cli/azd/cmd/init.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Remove compose alpha feature flag
  cli/azd/resources/alpha_features.yaml
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

wip
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/armmsi/armmsi.go
  cli/azd/pkg/entraid/entraid.go
  cli/azd/pkg/pipeline/pipeline_manager.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

check if exists before trying to create
  cli/azd/pkg/armmsi/armmsi.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

rev
  cli/azd/pkg/entraid/entraid.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

fix bicep linter
  templates/common/infra/bicep/core/host/container-apps.bicep
Owners: @jongio, @wbreza

dev: add ts provider and --tsp flag
  .gitignore
Owners: @wbreza, @vhvb1989, @weikanglim

dev: add further improvements to provider
  cli/azd/cmd/init.go
  cli/azd/pkg/azd/default.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/provisioning.go
  cli/azd/pkg/infra/provisioning/typescript/MIGRATING_TO_PULUMI.md
  cli/azd/pkg/infra/provisioning/typescript/README.md
  cli/azd/pkg/infra/provisioning/typescript/deploy.ts
  cli/azd/pkg/infra/provisioning/typescript/typescript_provider.go
  cli/azd/pkg/infra/provisioning/typescript/typescript_provider_test.go
  cli/azd/pkg/tools/typescript.go
  go.mod
  schemas/v1.0/azure.yaml.json
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Remove ACA Environment Contributor role assignment
  cli/azd/pkg/apphost/testdata/TestAspireBicepGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireProjectV1Generation-resources.bicep.snap
  cli/azd/resources/apphost/templates/resources.bicept
  cli/azd/test/functional/testdata/recordings/Test_CLI_Aspire_Deploy.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Update bicep CLI supported version to v0.36.1 (#5245)
  .github/workflows/lint-bicep.yml
  cli/azd/pkg/tools/bicep/bicep.go
  templates/common/infra/bicep/core/host/container-apps.bicep
Owners: @danieljurek, @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA, @jongio

adding list
  cli/azd/pkg/armmsi/armmsi.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

snaps
  cli/azd/pkg/apphost/testdata/TestAspireBicepGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireProjectV1Generation-resources.bicep.snap
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Login guard middleware with automatic login (#5204)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/actions/action_descriptor.go
  cli/azd/cmd/container.go
  cli/azd/cmd/middleware/login_guard.go
  cli/azd/cmd/middleware/login_guard_test.go
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/root.go
  cli/azd/cmd/up.go
  cli/azd/pkg/auth/guard.go
  cli/azd/pkg/auth/manager.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Changes
  cli/azd/cmd/init.go
  cli/azd/internal/repository/app_init.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Remove double blank line
  cli/azd/pkg/apphost/testdata/TestAspireBicepGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireProjectV1Generation-resources.bicep.snap
  cli/azd/resources/apphost/templates/resources.bicept
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

list existing msi
  cli/azd/pkg/armmsi/armmsi.go
  cli/azd/pkg/pipeline/pipeline_manager.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

Remove ACA Environment Contributor role assignment (#5246)
  cli/azd/pkg/apphost/testdata/TestAspireBicepGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireProjectV1Generation-resources.bicep.snap
  cli/azd/resources/apphost/templates/resources.bicept
  cli/azd/test/functional/testdata/recordings/Test_CLI_Aspire_Deploy.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

roles adding
  cli/azd/pkg/entraid/entraid.go
  cli/azd/pkg/pipeline/pipeline_manager.go
Owners: @wbreza, @vhvb1989, @hemarina, @weikanglim, @JeffreyCA

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @wbreza @vhvb1989 @weikanglim

/cli/             @wbreza @vhvb1989 @hemarina @weikanglim @JeffreyCA
/cli/installer/   @danieljurek

/ext/             @karolz-ms

/ext/vscode/      @bwateratmsft

/generators/repo/ @wbreza @danieljurek

/.github/         @danieljurek

/.config/1espt/   @danieljurek @benbp @weshaggard

/eng/             @danieljurek

/schemas/         @wbreza

/templates/       @jongio @wbreza

# Exclude @jongio from version bump PRs opened by dependabot
/templates/**/package-lock.json     @wbreza

/.github/CODEOWNERS   @rajeshkamal5050 @Azure/azure-sdk-eng
