Repository Azure/azure-dev, pull requests merged in 2022-11, with the labels that each got.

#1035 introduce terraform azdo workflow
  cli/azd/pkg/azdo/pipeline.go
  templates/common/.azdo/pipelines/bicep/azure-dev.yml
  templates/common/.azdo/pipelines/terraform/azure-dev.yml
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/repo.yaml
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/repo.yaml
  templates/todo/projects/csharp-sql/.repo/bicep/repo.yaml
  templates/todo/projects/java-mongo-aca/.repo/bicep/repo.yaml
  templates/todo/projects/java-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/python-mongo-aca/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Labels: blocker

#1030 Explicitly require subscription id when `azd` config is not set
  cli/azd/pkg/account/manager.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/tools/azcli/account.go
  cli/azd/pkg/tools/azcli/azcli.go
Labels: blocker, cli

#1059 Updates inline help docs for `azd config` commands
  cli/azd/cmd/config.go
  cli/azd/main.go
Labels: documentation, blocker, cli

#1076 Refactor Bicep tool to use standalone CLI
  cli/azd/cmd/config.go
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/init.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/test/functional/cli_test.go
Labels: cli

#1084 Templates: Update managed identity value due to change in Bicep 0.12.1
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/common/infra/bicep/core/host/container-app.bicep
Labels: cli

#1086 Adds FederatedIdentityCredentials (FICS) request builders to Graph Client
  .vscode/cspell.global.yaml
  cli/azd/cmd/pipeline.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/github_provider_test.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/graphsdk/application_request_builders.go
  cli/azd/pkg/graphsdk/application_request_builders_test.go
  cli/azd/pkg/graphsdk/entity_list_request_builder_test.go
  cli/azd/pkg/graphsdk/fic_models.go
  cli/azd/pkg/graphsdk/fic_request_builders.go
  cli/azd/pkg/graphsdk/fic_request_builders_test.go
  cli/azd/pkg/graphsdk/graph_client.go
  cli/azd/pkg/graphsdk/graph_client_test.go
  cli/azd/pkg/graphsdk/service_principal_models.go
  cli/azd/pkg/graphsdk/service_principal_request_builders.go
  cli/azd/pkg/graphsdk/service_principal_request_builders_test.go
  cli/azd/pkg/tools/azcli/ad_test.go
  cli/azd/test/mocks/graphsdk/mocks.go
  templates/common/.github/workflows/bicep/azure-dev.yml
Labels: cli, feature

#1107 Bicep path not found fix - Check for AZURE_CONFIG_DIR
  cli/Dockerfile
  cli/azd/pkg/tools/bicep/bicep.go
Labels: bug, cli

#1137 Update package dependencies in VSCode extension
  ext/vscode/package-lock.json
  ext/vscode/package.json
Labels: dependencies

#1155 Fix for docker files installing xdg-utils
  .devcontainer/Dockerfile
  templates/common/.devcontainer/Dockerfile/base/Dockerfile
Labels: blocker

#1156 do not force device code auth
  cli/azd/cmd/login.go
Labels: blocker

#797 Initial Windows Installer project
  cli/installer/windows/.gitignore
  cli/installer/windows/azd.wixproj
  cli/installer/windows/azd.wxs
  cli/installer/windows/ui.wxs
Labels: cli, installer

#1219 Fix regression on loading existing environments
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/environment/environment_test.go
Labels: blocker
