Repository Azure/azure-dev, pull requests merged in 2022-07, with the labels that each got.

#80 Remove NPM instructions from PR
  eng/pipelines/release-cli.yml
Labels: engsys

#72 fix `disabled actions` detector
  .github/workflows/cli-ci.yml
  cli/azd/CHANGELOG.md
  cli/azd/cmd/pipeline.go
  cli/azd/pkg/tools/gh.go
  cli/azd/pkg/tools/git.go
Labels: cli

#85 Addresses Static Web App deployment issues
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/CHANGELOG.md
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/tools/azcli.go
  cli/azd/pkg/tools/azcli_staticwebapp_test.go
  cli/azd/pkg/tools/swa.go
  cli/azd/pkg/tools/swa_test.go
  cli/azd/test/samples/funcapp/requirements.txt
Labels: cli

#84 pre-request check version number
  cli/azd/pkg/tools/azcli.go
  cli/azd/pkg/tools/bicep.go
  cli/azd/pkg/tools/docker.go
  cli/azd/pkg/tools/dotnet.go
  cli/azd/pkg/tools/ensure.go
  cli/azd/pkg/tools/gh.go
  cli/azd/pkg/tools/git.go
  cli/azd/pkg/tools/npm.go
  cli/azd/pkg/tools/python.go
  cli/azd/pkg/tools/swa.go
  cli/azd/pkg/tools/swa_test.go
  cli/azd/pkg/tools/tool.go
Labels: cli, feature

#100 Adds support for custom docker options
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/environment/azd_context.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/azcli.go
  cli/azd/pkg/tools/docker.go
  cli/azd/pkg/tools/docker_test.go
  schemas/v1.0/azure.yaml.json
Labels: cli

#117 Support for nested Bicep infra modules with container app target
  cli/azd/CHANGELOG.md
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/init.go
  cli/azd/main.go
  cli/azd/pkg/environment/azd_context.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/osutil/permissions.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/test/functional/cli_test.go
  schemas/v1.0/azure.yaml.json
Labels: cli

#176 Repoman - Updates relative path rewriting algo
  generators/repo/src/commands/generate.ts
  generators/repo/tsconfig.json
Labels: templates
