Repository Azure/azure-dev, pull requests merged in 2022-10, with the labels that each got.

#775 Updates az ACR commands to call ACR Azure SDK modules
  .vscode/cspell.global.yaml
  cli/azd/pkg/azure/resource_ids.go
  cli/azd/pkg/azure/resource_ids_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/container_registry.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/docker/docker_test.go
  go.mod
  go.sum
Labels: cli

#785 Enable telemetry for prod
  cli/azd/internal/telemetry/appinsights-exporter/endpoint_config.go
  cli/azd/internal/telemetry/appinsights-exporter/endpoint_config_test.go
  cli/azd/internal/telemetry/telemetry.go
  cli/azd/internal/telemetry/telemetry_context.go
  cli/azd/internal/telemetry/telemetry_test.go
  cli/azd/internal/version.go
Labels: telemetry

#795 Print Azure deployment link only when deployment has started
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display_test.go
Labels: cli

#796 use 3 retries for pushing code
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Labels: azdo

#799 Add Java ACA and AppService templates
  .vscode/cspell-templates.txt
  .vscode/cspell.yaml
  cli/Dockerfile
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/infra/bicep/core/host/appservice-java.bicep
  templates/common/infra/bicep/core/host/container-app.bicep
  templates/todo/api/java/.gitattributes
  templates/todo/api/java/.gitignore
  templates/todo/api/java/.mvn/wrapper/maven-wrapper.jar
  templates/todo/api/java/.mvn/wrapper/maven-wrapper.properties
  templates/todo/api/java/.openapi-generator/FILES
  templates/todo/api/java/.openapi-generator/VERSION
  templates/todo/api/java/.openapi-generator/openapi.yaml-default.sha256
  templates/todo/api/java/Dockerfile
  templates/todo/api/java/README.md
  templates/todo/api/java/mvnw
  templates/todo/api/java/mvnw.cmd
  templates/todo/api/java/pom.xml
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/SimpleTodoApplication.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ApiUtil.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ListsApi.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/configuration/MongoDBConfiguration.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/configuration/RFC3339DateFormat.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/configuration/WebConfiguration.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoItem.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoList.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoState.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/repository/TodoItemRepository.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/repository/TodoListRepository.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/web/TodoListsController.java
  templates/todo/api/java/src/main/resources/application.properties
  templates/todo/api/java/src/main/resources/applicationinsights.json
  templates/todo/api/java/src/test/java/com/microsoft/azure/simpletodo/SimpleTodoApplicationTests.java
  templates/todo/common/infra/bicep/app/api-appservice-java.bicep
  templates/todo/common/infra/bicep/app/api-container-app.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/azure.yaml
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.parameters.json
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/resources.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/repo.yaml
  templates/todo/projects/java-mongo-aca/.vscode/launch.json
  templates/todo/projects/java-mongo-aca/.vscode/tasks.json
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo-aca/assets/resources.png
  templates/todo/projects/java-mongo/.repo/bicep/azure.yaml
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.parameters.json
  templates/todo/projects/java-mongo/.repo/bicep/infra/resources.bicep
  templates/todo/projects/java-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/java-mongo/.vscode/launch.json
  templates/todo/projects/java-mongo/.vscode/tasks.json
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/java-mongo/assets/resources.png
  templates/todo/web/react-fluent/README.md
Labels: java

#841 az login uses device token in codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  cli/azd/cmd/init.go
  cli/azd/cmd/login.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/azcli_test.go
Labels: codespaces

#806 AZD CLI: go account modules refactor
  .vscode/cspell.global.yaml
  cli/azd/cmd/templates.go
  cli/azd/cmd/util.go
  cli/azd/pkg/account/manager.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/azureutil/subscription.go
  cli/azd/pkg/commands/builder.go
  cli/azd/pkg/config/config.go
  cli/azd/pkg/config/config_test.go
  cli/azd/pkg/tools/azcli/account.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/azcli_test.go
  cli/azd/pkg/tools/azcli/resources.go
  cli/azd/pkg/tools/azcli/user_agent_policy.go
  cli/azd/pkg/tools/azcli/user_agent_policy_test.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/mocks/mock_context.go
  cli/azd/test/mocks/mock_credentials.go
  go.mod
  go.sum
Labels: cli

#883 Refactors app service family of az cli commands to use the `armappservice` Azure Go SDK
  .vscode/cspell.global.yaml
  cli/azd/pkg/azsdk/client_options_builder.go
  cli/azd/pkg/azsdk/client_options_builder_test.go
  cli/azd/pkg/azsdk/user_agent_policy.go
  cli/azd/pkg/azsdk/user_agent_policy_test.go
  cli/azd/pkg/azsdk/util.go
  cli/azd/pkg/azsdk/util_test.go
  cli/azd/pkg/azsdk/zip_deploy_client.go
  cli/azd/pkg/azsdk/zip_deploy_client_test.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/tools/azcli/account.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/azcli_functions_test.go
  cli/azd/pkg/tools/azcli/azcli_staticwebapp_test.go
  cli/azd/pkg/tools/azcli/azcli_test.go
  cli/azd/pkg/tools/azcli/client_options.go
  cli/azd/pkg/tools/azcli/container_app.go
  cli/azd/pkg/tools/azcli/container_registry.go
  cli/azd/pkg/tools/azcli/deployments.go
  cli/azd/pkg/tools/azcli/function_app.go
  cli/azd/pkg/tools/azcli/keyvault.go
  cli/azd/pkg/tools/azcli/resources.go
  cli/azd/pkg/tools/azcli/static_webapp.go
  cli/azd/pkg/tools/azcli/user_agent_policy_test.go
  cli/azd/pkg/tools/azcli/webapp.go
  cli/azd/test/mocks/util.go
  go.mod
  go.sum
Labels: cli

#934 Launch the browser using environment variable $BROWSER (if present)
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/monitor.go
  go.mod
  go.sum
Labels: codespaces

#912 AzCLI: Refacor `az ad` commands and introduces MS graph support
  .vscode/cspell.global.yaml
  cli/azd/cmd/util.go
  cli/azd/pkg/azsdk/zip_deploy_client.go
  cli/azd/pkg/azureutil/principal.go
  cli/azd/pkg/graphsdk/application_request_builders.go
  cli/azd/pkg/graphsdk/application_request_builders_test.go
  cli/azd/pkg/graphsdk/applications_models.go
  cli/azd/pkg/graphsdk/entity_item_request_builder.go
  cli/azd/pkg/graphsdk/entity_list_request_builder.go
  cli/azd/pkg/graphsdk/entity_list_request_builder_test.go
  cli/azd/pkg/graphsdk/graph_client.go
  cli/azd/pkg/graphsdk/graphsdk.go
  cli/azd/pkg/graphsdk/me_request_builder.go
  cli/azd/pkg/graphsdk/me_request_builder_test.go
  cli/azd/pkg/graphsdk/service_principal_models.go
  cli/azd/pkg/graphsdk/service_principal_request_builders.go
  cli/azd/pkg/graphsdk/service_principal_request_builders_test.go
  cli/azd/pkg/graphsdk/user_models.go
  cli/azd/pkg/graphsdk/util.go
  cli/azd/pkg/graphsdk/util_test.go
  cli/azd/pkg/httputil/util.go
  cli/azd/pkg/httputil/util_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/tools/azcli/account.go
  cli/azd/pkg/tools/azcli/account_test.go
  cli/azd/pkg/tools/azcli/ad.go
  cli/azd/pkg/tools/azcli/ad_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/azcli_test.go
  cli/azd/test/mocks/graphsdk/mocks.go
  cli/azd/test/mocks/mock_credentials.go
  go.mod
  go.sum
Labels: cli

#1008 Azd CLI: Graph panic fix
  cli/azd/pkg/azsdk/zip_deploy_client.go
  cli/azd/pkg/graphsdk/application_request_builders.go
  cli/azd/pkg/graphsdk/me_request_builder.go
  cli/azd/pkg/graphsdk/service_principal_request_builders.go
  cli/azd/pkg/httputil/util.go
Labels: bug, cli

#967 Adds new config command category
  .vscode/cspell.global.yaml
  cli/azd/cmd/config.go
  cli/azd/cmd/init.go
  cli/azd/cmd/monitor.go
  cli/azd/cmd/root.go
  cli/azd/cmd/sets.go
  cli/azd/cmd/util.go
  cli/azd/cmd/wire.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/account/manager.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/account/models.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/config/config.go
  cli/azd/pkg/config/config_test.go
  cli/azd/pkg/config/manager.go
  cli/azd/pkg/config/manager_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/tools/azcli/account.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/mocks/config/mock_config.go
  cli/azd/test/mocks/mock_context.go
Labels: cli, command

#1011 Azd CLI: Parse ARM deployment errors from Go SDK response
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/azcli_test.go
  cli/azd/pkg/tools/azcli/deployments.go
Labels: blocker, cli

#1021 Adding csharp-sql-swa-func to templates list
  cli/azd/resources/templates.json
Labels: blocker, templates
