Repository Azure/azure-dev, pull requests merged in 2022-09, with the labels that each got.

#596 Update README for Azure SQL template
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/csharp-sql/assets/resources.png
Labels: templates

#586 Adds top level 'infra' configuration section to the azure.yaml schema
  schemas/v1.0/azure.yaml.json
Labels: terraform

#591 Reuse spinner instance when available
  cli/azd/cmd/deploy.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/spin/spin.go
  cli/azd/pkg/spin/spin_test.go
Labels: cli

#628 Update templates pipeline to use ARM env values
  templates/common/.azdo/pipelines/README.md
  templates/common/.azdo/pipelines/azure-dev.yml
  templates/common/.github/workflows/azure-dev.yml
Labels: blocker

#623 Install terraform cli and vs code plugin in dev container
  templates/todo/projects/python-mongo/.repo/terraform/.devcontainer/Dockerfile
  templates/todo/projects/python-mongo/.repo/terraform/.devcontainer/devcontainer.json
  templates/todo/projects/python-mongo/.repo/terraform/azure.yaml
  templates/todo/projects/python-mongo/.repo/terraform/infra/provider.tf
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Labels: blocker

#626 Fixes interactive exec support for posix environments
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/exec/util.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/samples/resourcegroupterraform/infra/provider.tf
  cli/azd/test/samples/resourcegroupterraformremote/infra/provider.tf
  eng/pipelines/templates/steps/install-terraform.yml
Labels: blocker

#630 Updates terraform devcontainer dockerfile & configuration
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
  templates/todo/projects/python-mongo/.repo/terraform/.devcontainer/Dockerfile
  templates/todo/projects/python-mongo/.repo/terraform/.devcontainer/devcontainer.json
  templates/todo/projects/python-mongo/.repo/terraform/azure.yaml
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Labels: blocker, terraform

#627 Make GitHub pipeline provider to support terraform provisioning
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Labels: blocker

#632 Install terraform in azd cli apps image
  cli/Dockerfile
Labels: blocker, terraform

#631 update readme content based on the iac Version
  .vscode/cspell.global.yaml
  templates/todo/projects/python-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/python-mongo/README.md
Labels: blocker, terraform

#636 Correct values for ARM env vars
  cli/azd/pkg/commands/pipeline/github_provider.go
Labels: blocker, terraform

#641 VS Code release 0.3.0
  ext/vscode/CHANGELOG.md
  ext/vscode/package.json
Labels: blocker, vscode

#649 Fix broken tag in CSharp-SQL template README
  templates/todo/projects/csharp-sql/README.md
Labels: templates

#650 Adds new github action for terraform
  cli/azd/pkg/commands/pipeline/github_provider.go
  templates/common/.github/workflows/bicep/azure-dev.yml
  templates/common/.github/workflows/terraform/azure-dev.yml
  templates/todo/projects/csharp-cosmos-sql/repo.yaml
  templates/todo/projects/csharp-mongo/repo.yaml
  templates/todo/projects/csharp-sql/repo.yaml
  templates/todo/projects/nodejs-mongo-aca/repo.yaml
  templates/todo/projects/nodejs-mongo-swa-func/repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo-aca/repo.yaml
  templates/todo/projects/python-mongo-swa-func/repo.yaml
  templates/todo/projects/python-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Labels: blocker, terraform

#646 Add nodejs terraform template
  cli/azd/resources/templates.json
  templates/todo/projects/nodejs-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/terraform/azure.yaml
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/apps.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/cosmos.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/keyvault.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/loganalytics.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tfvars.json
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/output.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/provider.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/variables.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/nodejs-mongo/README.md
Labels: blocker, terraform

#660 Fixes azd monitor for terraform
  cli/azd/cmd/monitor.go
Labels: blocker, cli

#662 update cosmos module to ignore capabilities changes
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/cosmos.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/cosmos.tf
Labels: blocker, templates, terraform

#678 add gh action to nodejs repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/terraform/repo.yaml
Labels: terraform

#679 Update VS Code ext version and dependencies after release
  ext/vscode/package-lock.json
  ext/vscode/package.json
Labels: vscode

#764 use main for init a repo
  cli/azd/pkg/tools/git/git.go
Labels: blocker, azdo

#769 Modify Azdo provider default branch to be use the current git branch.
  cli/azd/pkg/azdo/azdo.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Labels: blocker, azdo

#766 Updates to Azdo implementation
  cli/azd/pkg/azdo/pipeline.go
  cli/azd/pkg/azdo/project.go
  cli/azd/pkg/azdo/repository.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/tools/git/git.go
Labels: blocker, azdo

#776 Fixes missing git reference
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Labels: blocker

#774 do not persist PAT
  cli/azd/pkg/azdo/utils.go
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
Labels: blocker, azdo

#771 Updates az keyvault commands to call keyvault Azure SDK modules
  .vscode/cspell.global.yaml
  cli/azd/pkg/cmdsubst/cmdsubst.go
  cli/azd/pkg/cmdsubst/cmdsubst_test.go
  cli/azd/pkg/cmdsubst/secretOrRandomPassword.go
  cli/azd/pkg/commands/builder.go
  cli/azd/pkg/convert/util.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/client_options.go
  cli/azd/pkg/tools/azcli/keyvault.go
  cli/azd/pkg/tools/azcli/resources.go
  cli/azd/test/mocks/util.go
  go.mod
  go.sum
Labels: cli

#780 refresh variables on every run
  cli/azd/pkg/azdo/pipeline.go
Labels: blocker
