Repository Azure/azure-dev, pull requests merged in 2022-08, with the labels that each got.

#252 Adds support for project/service lifecycle events
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_config_test.go
Labels: cli

#247 Installer: PATH registry type
  cli/azd/CHANGELOG.md
  cli/installer/install-azd.ps1
  cli/installer/test-pwsh-win-install.ps1
  cli/installer/uninstall-azd.ps1
Labels: engsys

#445 Update mongoose package lock
  templates/todo/api/js/package-lock.json
  templates/todo/api/js/package.json
Labels: templates

#466 Adds support to pass custom event args when raising project/service events
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_config_test.go
Labels: enhancement

#470 Add storage queue for telemetry
  .vscode/cspell-github-user-aliases.txt
  cli/azd/internal/telemetry/storage.go
  cli/azd/internal/telemetry/storage_test.go
  go.mod
  go.sum
Labels: telemetry

#440 Require approvals for releasing repoman changes
  eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml
  eng/pipelines/templates/steps/repoman-generate.yml
  eng/scripts/Invoke-RepomanGenerate.ps1
  generators/repo/src/commands/generate.ts
  templates/todo/projects/csharp-cosmos-sql/repo.yaml
  templates/todo/projects/csharp-mongo/repo.yaml
  templates/todo/projects/csharp-sql/repo.yaml
  templates/todo/projects/nodejs-mongo-aca/repo.yaml
  templates/todo/projects/nodejs-mongo-swa-func/repo.yaml
  templates/todo/projects/nodejs-mongo/repo.yaml
  templates/todo/projects/python-mongo-aca/repo.yaml
  templates/todo/projects/python-mongo-swa-func/repo.yaml
  templates/todo/projects/python-mongo/repo.yaml
Labels: engsys
