Repository Azure/azure-dev, pull requests merged in 2023-04, with the labels that each got.

#1833 Deploy from existing package
  cli/azd/cmd/deploy.go
  cli/azd/cmd/provision.go
  cli/azd/cmd/testdata/TestUsage-azd-deploy.snap
  cli/azd/cmd/up.go
  cli/azd/pkg/project/container_helper.go
Labels: cli

#1961 Updates Todo AKS template to add details about required roles
  templates/todo/projects/nodejs-mongo-aks/README.md
Labels: templates

#1959 Updates AKS Bicep API versions
  templates/common/infra/bicep/core/host/aks-agent-pool.bicep
  templates/common/infra/bicep/core/host/aks-managed-cluster.bicep
Labels: templates

#1967 Display provisioning resources in failed state
  cli/azd/pkg/azdo/service_connection.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
  cli/azd/pkg/output/ux/created_resource.go
  cli/azd/pkg/output/ux/displayed_resource.go
  cli/azd/pkg/output/ux/uxitem.go
Labels: ux improvements

#1968 Fixes Federated credentials conflict in Github Pipelines
  cli/azd/pkg/commands/pipeline/github_provider.go
Labels: pipelines

#1940 Detect and update environment changes
  cli/azd/cmd/container.go
  cli/azd/pkg/environment/environment_test.go
  cli/azd/pkg/ext/hooks_runner.go
  cli/azd/pkg/ext/hooks_runner_test.go
Labels: extensibility

#1704 Add `requiredVersions` to `azure.yaml`
  cli/azd/cmd/version.go
  cli/azd/internal/telemetry/resource/resource.go
  cli/azd/internal/useragent.go
  cli/azd/internal/useragent_test.go
  cli/azd/internal/version.go
  cli/azd/internal/version_test.go
  cli/azd/main.go
  cli/azd/pkg/contracts/version.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/test/functional/version_test.go
  schemas/v1.0/azure.yaml.json
Labels: blocker

#1792 Add java postgresql todo terraform template
  templates/common/.devcontainer/Dockerfile/java/Dockerfile
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
  templates/common/infra/terraform/core/database/postgresql/postgresql.tf
  templates/common/infra/terraform/core/database/postgresql/postgresql_output.tf
  templates/common/infra/terraform/core/database/postgresql/postgresql_variables.tf
  templates/common/infra/terraform/core/host/appservice/appservicejava/appservicejava.tf
  templates/common/infra/terraform/core/host/appservice/appservicejava/appservicejava_output.tf
  templates/common/infra/terraform/core/host/appservice/appservicejava/appservicejava_variables.tf
  templates/common/infra/terraform/core/security/passwordless/postgresql/passwordless.tf
  templates/common/infra/terraform/core/security/passwordless/postgresql/passwordless_variables.tf
  templates/common/infra/terraform/core/security/passwordless/postgresql/scripts/create_ad_user.sql
  templates/common/infra/terraform/core/security/passwordless/postgresql/scripts/pg-create-aad-role.ps1
  templates/common/infra/terraform/core/security/passwordless/postgresql/scripts/pg-create-aad-role.sh
  templates/cspell-templates.txt
  templates/todo/api/java-postgresql/.gitattributes
  templates/todo/api/java-postgresql/.gitignore
  templates/todo/api/java-postgresql/.mvn/wrapper/maven-wrapper.jar
  templates/todo/api/java-postgresql/.mvn/wrapper/maven-wrapper.properties
  templates/todo/api/java-postgresql/.openapi-generator/FILES
  templates/todo/api/java-postgresql/.openapi-generator/VERSION
  templates/todo/api/java-postgresql/.openapi-generator/openapi.yaml-default.sha256
  templates/todo/api/java-postgresql/Dockerfile
  templates/todo/api/java-postgresql/README.md
  templates/todo/api/java-postgresql/mvnw
  templates/todo/api/java-postgresql/mvnw.cmd
  templates/todo/api/java-postgresql/package-lock.json
  templates/todo/api/java-postgresql/package.json
  templates/todo/api/java-postgresql/pom.xml
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/SimpleTodoApplication.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/api/ApiUtil.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/api/ItemsApi.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/api/ListsApi.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/configuration/RFC3339DateFormat.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/configuration/StringToTodoStateConverter.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/configuration/WebConfiguration.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/controller/TodoItemsController.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/controller/TodoListsController.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/model/TodoItem.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/model/TodoList.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/model/TodoState.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/repository/TodoItemRepository.java
  templates/todo/api/java-postgresql/src/main/java/com/microsoft/azure/simpletodo/repository/TodoListRepository.java
  templates/todo/api/java-postgresql/src/main/resources/application.properties
  templates/todo/api/java-postgresql/src/main/resources/applicationinsights.json
  templates/todo/api/java-postgresql/src/test/java/com/microsoft/azure/simpletodo/SimpleTodoApplicationTests.java
  templates/todo/projects/java-postgresql/.repo/terraform/azure.yaml
  templates/todo/projects/java-postgresql/.repo/terraform/infra/main.tf
  templates/todo/projects/java-postgresql/.repo/terraform/infra/main.tfvars.json
  templates/todo/projects/java-postgresql/.repo/terraform/infra/output.tf
  templates/todo/projects/java-postgresql/.repo/terraform/infra/provider.tf
  templates/todo/projects/java-postgresql/.repo/terraform/infra/variables.tf
  templates/todo/projects/java-postgresql/.repo/terraform/repo.yaml
  templates/todo/projects/java-postgresql/.vscode/launch.json
  templates/todo/projects/java-postgresql/.vscode/tasks.json
  templates/todo/projects/java-postgresql/README.md
  templates/todo/projects/java-postgresql/assets/resources.png
  templates/todo/projects/java-postgresql/githubworkflow/azure-dev.yml
Labels: templates
