Repository Azure/azure-dev, pull requests merged in 2024-02, with the labels that each got.

#3211 AKS Service Target: Adds support for Azure RBAC when local user accounts are disabled
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/container.go
  cli/azd/pkg/kubelogin/cli.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/tools/azcli/managed_clusters.go
  cli/azd/pkg/tools/kubectl/kube_config.go
Labels: aks

#3269 Adds support to reference external or prebuilt image references
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_models_test.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/tools/docker/container_image.go
  cli/azd/pkg/tools/docker/container_image_test.go
  cli/azd/pkg/tools/docker/docker.go
  schemas/alpha/azure.yaml.json
Labels: aks, aca

#3196 Adds support for Helm and Kustomize for AKS service target
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/pkg/helm/cli.go
  cli/azd/pkg/helm/cli_test.go
  cli/azd/pkg/helm/config.go
  cli/azd/pkg/kustomize/cli.go
  cli/azd/pkg/kustomize/cli_test.go
  cli/azd/pkg/kustomize/config.go
  cli/azd/pkg/osutil/expandable_string.go
  cli/azd/pkg/osutil/expandable_string_test.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/tools/kubectl/kubectl.go
  cli/azd/resources/alpha_features.yaml
  schemas/alpha/azure.yaml.json
Labels: aks

#3373 fix: Incorrectly targeting ADE environment definition parameter name instead of id
  cli/azd/pkg/devcenter/template_source.go
Labels: regression, ade

#3375 fix: AKS deploy issues with containers & manifests
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_target_aks.go
Labels: aks, regression

#3372 fix: Removes requirement that infra must always exist for ADE/devcenter projects
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
Labels: regression, ade

#3334 add mysql bicep to core templates
  templates/common/infra/bicep/core/database/mysql/flexibleserver.bicep
Labels: customer-reported

#3407 Fixes docker build/package for Aspire projects
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
Labels: aspire

#3449 Don't set AKS context during provision preview
  cli/azd/internal/cmd/provision.go
  cli/azd/pkg/project/service_target_aks.go
Labels: aks
